.person-item {
  display: inline-block;
  background: #eaf4ff;
  border: 1px solid #007bff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 0.9rem;
  text-align: center;
  cursor: pointer;
}

.person-item.dragging {
  opacity: 0.5;
}

.person-item:hover {
  background-color: #d0e7ff;
}
